#for tracing graph execution
#ref: https://docs.langchain.com/oss/python/langgraph/studio
LANGCHAIN_TRACING_V2=true
LANGCHAIN_API_KEY=your-langchain-api-key
LANGSMITH_PROJECT=your-langsmith-project
LANGSMITH_ENDPOINT=https://api.smith.langchain.com

GOOGLE_API_KEY=your-google-api-key
